/* import variable */
@import "variable";

#course_about_contenair {
 width: 100%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
}
@media(max-width: 1440px) {
 #course_about_contenair {
  width: 100%;
  height: auto;
 }
}
#course_about_up_content {
 width: 82vw;
 margin-left: auto;
 margin-right: auto;
 height: auto;
}
@media(max-width:1440px) {
  width: 1180px;
}
@media(max-width: 1180px) {
 #course_about_up_content {
  width: calc(100% - 50px);
  padding-left: 25px;
  padding-right: 25px;
 }
}

#atp_about_course_card {
 float: right;
 width: 390px;
 height: auto;
}
#atp_about_desc {
 float: left;
 height: auto;
 width: calc(100% - 467px);
}

/* course card up from dashboard.scss */

.atp_course_item {
 width: 100%;
 margin: 0;
}


/* course details */


#atp_ariane_about {
 width: 100%;
 height: auto;
 margin-top: 25px;
 margin-bottom: 25px;
 font-size: 14px;
}
#atp_ariane_about span:first-child {
 color: $atp_secondary_color;
 font-weight: bold;
 cursor:pointer;
}
#atp_ariane_about span:last-child {
 color: $atp_primary_color;
 font-weight: bold;
}

#atp_about_desc h1{
 text-align: left;
 font-size: 32px;
 font-family: $font_family;
 width: 100%;
 line-height: 30px;
 height: auto;
 text-transform: uppercase;
 word-wrap : break-word;
 color: $atp_primary_color;
 font-weight: bold;
}

#atp_about_desc p:first-child,#course_about_accroche {
 font-size: 20px;
 line-height: 20px;
 width: 100%;
 height: auto;
 color: $atp_secondary_color;
}
#course_about_accroche {
  margin-top: 15px;
  margin-bottom: 15px;
}
#course_about_details {
 padding-top: 25px;
 padding-bottom: 25px;
 border-bottom: 1px solid #c6c6c6;
 border-top: 1px solid #c6c6c6;
}

#course_about_details ul {
 padding: 0;
 margin: 0;
 float: left;
 min-width: 200px;
 list-style-type: none;
}

#course_about_details #course_about_ul {
 margin-left: 25px;
 min-width: 200px;
 height: auto;
}

#course_about_details ul li:first-child {
 margin-bottom: 15px;
 width: 100%;
 height: auto;
}

#course_about_details ul li span:first-child {
 color: $atp_primary_color;
 font-size: 14px;
 line-height: 14px;
 height: auto;
 width: 100%;
 text-transform: uppercase;
}

#course_about_details ul li span:last-child {
 color: #cf9c49;
 font-size: 14px;
 line-height: 12px;
 height: auto;
 width: 100%;
 font-weight: bold;
 text-transform: uppercase;
}

.course_about_atp,.course_about_atp_special {
 width: 100%;
 height: auto;
 margin-top: 10px;
 margin-bottom: 10px;
}
.course_about_atp h2 ,.course_about_atp_special h2 {
  width: 100%;
  padding: 0;
  font-family: $font_family;
  margin: 0;
  font-weight: bold;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
 color: $atp_primary_color;
}

.course_about_atp p {
 font-size: 14px;
 line-height: 16px;
 font-family: $font_family;
 width: calc(100% - 100px);
 margin-left: 30px;
 margin-right: 90px;
 height: auto;
 font-weight:bold;
 color: $atp_primary_color;
}

.course_about_atp ul {
 color: $atp_secondary_color;
 margin: 0;
 width: calc(100% - 125px);
 height: auto;
 padding: 0;
 margin-left: 45px;
 margin-right: 80px;
}

.course_about_atp ul li {
 width: 100%;
 height: auto;
 margin-top: 8px;
 margin-bottom: 8px;
}

.course_about_atp_special ul {
 color: $atp_secondary_color;
 width: 80%;
 height: auto;
 margin-left :auto;
 margin-right: auto;
}

.down_block {
 display: none;
}

.course_about_atp_special ul li {
 margin-top: 5px;
 width: 100%;
 height: auto;
 margin-bottom: 5px;
}

.course_about_atp ul li span,.course_about_atp_special ul li span {
 font-size: 14px;
 line-height: 12px;
 height: auto;
 font-weight: bold;
 color: $atp_primary_color;
}

.course_about_atp_special .special_block .up_block h4 {
 color: $atp_primary_color;
 font-size: 15px;
 font-family: $font_family;
 line-height: 20px;
 font-weight: bold;
 text-transform: uppercase;
 width: 90%;
 height: auto;
 margin-left: auto;
 margin-right: auto;
 padding-top: 10px;
 padding-bottom: 5px;
 cursor: pointer;
 border-bottom: 1px solid transparent;
}

.course_about_atp_special .special_block .up_block h4 span {
 float: right;
 display: block;
 height: 100%;
 margin-top: 3px;
}

.course_about_atp_special .special_block .up_block .border_atp_course_about {
 border-bottom-color: #c6c6c6;
}

.special_block {
 width: calc(100% - 100px);
 height: auto;
 margin-left: 60px;
 margin-right: 40px;
 margin-top: 15px;
 margin-bottom: 15px;
 border: 1px solid #c6c6c6;
}

.course_about_atp_special p {
 color: $atp_primary_color;
 font-style: italic;
 font-family:$font_family;
 font-size: 14px;
 line-height: 12px;
 width: calc(100% - 100px);
 height: auto;
 margin-left: 60px;
 margin-right: 60px;
}

#course_about_atp_end {
 padding-top: 50px;
 padding-bottom: 50px;
 background-color: #f2f2f2;
 width: 100%;
 height: auto;
 position: relative;
}

#encoche_course_about {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  width: 0px;
  height: 0px;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent;
  border-top: 25px solid #fff;
  margin-left: -33px;
}

#course_about_atp_end h2 {
 text-align: center;
 font-family: $font_family;
 font-size: 23px;
 line-height: 21px;
 color: $atp_primary_color;
 width: 100%;
 height: 24px;
 font-weight: bold;
}

/* dashboard css update */

.atp_course_image,.atp_course_image img {
 height: 265px;
}

@media(max-width:768px) {
 #atp_about_desc,#atp_about_course_card {
  float: none;
  width: 100%;
 }
 #atp_about_course_card {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
 }
}

@media(max-width: 420px) {
 #atp_about_course_card {
  width:100%;
 }
 .atp_course_image,.atp_course_image img {
  height: auto;
 }
}

@media(max-width: 720px) {
 #course_about_details ul {
  padding: 0;
  margin: 0;
  float: left;
  min-width: 200px;
  list-style-type: none;
 }

 #course_about_details #course_about_ul {
  margin-left: 0px;
  margin-top: 25px;
  min-width: 200px;
  height: auto;
 }
}


/* picto end */

#picto_course_about {
 text-align: center;
}

#picto_course_about .dashboard_picto_tuto_tma {
 width: 200px;
 margin-left: 10px;
 margin-right: 10px;
 height: auto;
 display: inline-block;
}

#picto_course_about .atp_course_picto svg {
 width: 60px;
 height: 60px;
 fill: $atp_primary_color;
 display: block;
 margin-left: auto;
 margin-right: auto;
}

#picto_course_about .dashboard_picto_tuto_tma span {
 display: block;
 width: 100%;
 font-size: 16px;
 text-transform: uppercase;
 color: $atp_primary_color;
 line-height: 15px;
 height: auto;
 font-weight: bold;
 text-align: center;
 margin-top: 15px;
}

@media(max-width:584px) {
 #picto_course_about .dashboard_picto_tuto_tma {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 35px;
 }
}

/* h2 img */

.course_about_atp h2 svg,.course_about_atp_special h2 svg {
  fill: $atp_primary_color;
  height: 25px;
  width: 25px;
  display: block;
  float: left;
  margin-right: 10px;
}
.arrow-bottom,.arrow-right {
  border: none
}
 .arrow-bottom:before,.arrow-right:before{
   position: relative;
   /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
   content: "";
   display: inline-block;
   /* By using an em scale, the arrows will size with the font */
   width: 0.4em;
   height: 0.4em;
   border-right: 0.2em solid $atp_primary_color;
   border-top: 0.2em solid $atp_primary_color;
   transform: rotate(45deg);
   margin-right: 0.5em;
   margin-bottom: 5px;
 }
 .arrow-bottom:before {
   transform: rotate(135deg);
 }
.course_about_atp h2 span,.course_about_atp_special h2 span {
  display: inline-block;
  min-height: 28px;
  line-height: 28px;
  vertical-align:middle;
  width: calc(100% - 75px);
  font-size: 16px;
  font-family:$font_family;
}
#atp_about_course_card ul {
  position: fixed;
  width: 370px;
  z-index: 0;
  background-color: #fff;
}
@media(max-width:768px) {
  #atp_about_course_card ul {
    position: inherit;
    width: 100%;
  }
}
.course_about_atp ul li, .course_about_atp_special ul li {
  position: relative;
}
.course_about_atp ul li .puce_li_about, .course_about_atp_special ul li .puce_li_about {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: $atp_secondary_color;
  top: 50%;
  margin-top: -5px;
  left: -20px;
}

.course_about_atp_special ul,.course_about_atp ul {
  color: $atp_secondary_color !important;
}

.course_about_atp h2,.course_about_atp_special h2 {
  position: relative;
}
.course_about_atp h2 svg, .course_about_atp_special h2 svg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  margin-top: -12.5px;
}
.course_about_atp h2 span, .course_about_atp_special h2 span {
  margin-left: 30px;
}
#atp_about_course_card ul {
  margin-left: 20px;
}
@media(max-width:768px) {
  #atp_about_course_card ul {
    margin-left: 0;
  }
}
@media(max-width:450px) {
  .course_about_atp ul {
    width: calc(100% - 85px);
    margin-right: 0;
    margin-left: 85px;
  }
  .special_block {
    width: calc(100% - 60px);
    margin-right: 0;
  }
}

/* last up */
.course_about_atp ul li, .course_about_atp_special ul li {
  position: relative;
}
.course_about_atp ul li .puce_li_about, .course_about_atp_special ul li .puce_li_about {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #31aeee;
  top: 50%;
  margin-top: -5px;
  left: -20px;
}
.course_about_atp h2,.course_about_atp_special h2 {
  position: relative;
}
.course_about_atp h2 svg, .course_about_atp_special h2 svg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
}
#atp_about_course_card ul {
  margin-left: 20px;
}
#certiticate {
  color: #31aeee;
  border-bottom: 1px solid #31aeee;
}
#certiticate:hover {
  border-bottom: 1px solid transparent;
}
#certiticate svg {
  width: 20px;
  height: 20px;
  fill: #31aeee;
}
@media(max-width:768px) {
  #atp_about_course_card ul {
    margin-left: 0;
  }
}
@media(max-width:450px) {
  .course_about_atp ul {
    width: calc(100% - 85px);
    margin-right: 0;
    margin-left: 85px;
  }
  .special_block {
    width: calc(100% - 60px);
    margin-right: 0;
  }
}
