/* import variable */
@import "variable";

body {
 background-color: #fff;
}

#footer_atp {
 width: calc(100% - 60px);
 padding-left: 30px;
 padding-right: 30px;
 margin-left: auto;
 margin-right: auto;
 min-height: 140px;
 line-height: 140px;
 vertical-align: middle;
 background-color: $atp_primary_color;
}
@media(max-width: 1440px) {
 #footer_atp {
  width: calc(100% - 60px);
 }
}

#footer_atp img {
 height: 80px;
 width: auto;
 margin-top: 30px;
 margin-bottom: 30px;
 float: left;
}
#footer_atp ul {
 height: auto;
 margin-top: 30px;
 margin-bottom: 30px;
 line-height: 80px;
 vertical-align:middle;
 float:right;
 width: auto;
 list-style-type: none;
}
#footer_atp ul li {
 float:left;
 margin-left: 10px;
 margin-right: 10px;
 height: 20px;
 line-height: 20px;
 vertical-align: middle;
 text-align:center;
 margin-top: 30px;
 margin-bottom: 30px;
}
#footer_atp ul li a,#footer_atp ul li a:hover,#footer_atp ul li a:focus {
 color: #fff;
 font-size: 20px;
 text-transform: uppercase;
 font-weight: bold;
 text-decoration: none;
 font-family:$font_family;
}

@media(max-width:560px) {
  #footer_atp ul,#footer_atp img {
    float:none;
    margin-left: 0;
    margin-right: 0;
  }
  #footer_atp ul {
    margin-bottom: 0;
    padding: 0;
    margin-top: 5px;
  }
  #footer_atp ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
  }
  #footer_atp img {
    margin-bottom: 0;
  }
}
