<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%def name="online_help_token()"><% return "profile" %></%def>
<%namespace name='static' file='/static_content.html'/>
<%!
import json
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>

<%block name="pagetitle">${_("Learner Profile")}</%block>

<%block name="bodyclass">view-profile</%block>
<style>
.wrapper-profile-field-account-privacy, .ariane, .view-profile .profile-section-two-fields .u-field.mode-placeholder, .view-profile .profile-section-one-fields .u-field-username .u-field-value,.view-profile .profile-section-one-fields{
  display: none;
}
.wrapper-profile-section-two{
  display: none !important;
}
#content{
  height: calc(100vh - 25px);
}
h3{
  font-weight: bold;
  text-transform: capitalize;
}
.view-profile .wrapper-profile-sections{
  min-width: auto;
  max-width: none;
  padding: 0;
}
.view-profile .wrapper-profile-section-one{
  margin: 0px;
  display: block;
}
.view-profile .profile-image-field .image-wrapper .image-frame{
  height: : 100%;
  width: auto;
  margin: 0 auto;
}
.view-profile .profile-image-field .image-wrapper{
  height: 120px;
  width: auto;
}
.view-profile .profile-image-field{
  float: none;
}
.profile.profile-self{
  max-height: none;
  height: 100%;
}
.view-profile .wrapper-profile{
  min-height: auto;
}
.container>div{
  border: 0px;
  box-shadow: none;
}
.gray-border{
  border: 1px solid lightgray;
  padding: 20px;
}
.h-100{
  height: 100%;
}
.content-wrapper{
  padding-top: 150px;
}
.container>div{
  display: block;
  width: auto;
}
.container{
  min-width: auto;
}

@media only screen and (min-width: 992px) {
  .left-border-gray{
    border-left: 1px solid #3c3c3c;
  }
}

@media only screen and (min-width: 769px) {
  .flex{
    display: flex!important;
  }
}

</style>
<div class="message-banner" aria-live="polite"></div>

<div class="container">
  <div class="row flex">
    <div class="col-sm-3">
      <div class="gray-border h-100">
        <%block name="headextra">
            <%static:css group='style-course'/>
        </%block>
        <%block name="js_extra">
        <%static:require_module module_name="js/student_profile/views/learner_profile_factory" class_name="LearnerProfileFactory">
            var options = ${data | n, dump_js_escaped_json};
            LearnerProfileFactory(options);
        </%static:require_module>
        </%block>
        <div class="wrapper-profile">
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="gray-border h-100">
        <h3>${request.user.first_name} ${request.user.last_name}</h3>
        <h4>${request.user.email}</h4>
        <div class="row">
          <% i = 0 %>
          % for n in data['level']:
          %if i==0:
          <div class="col-md-2">
            ${n}
          </div>
          %else :
          <div class="col-md-2 left-border-gray">
            ${n}
          </div>
          %endif
          <% i +=1%>
          % endfor
        </div>
      </div>
    </div>
  </div>
</div>
