<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.conf import settings

from edxnotes.helpers import is_feature_enabled as is_edxnotes_enabled
from openedx.core.djangolib.markup import HTML
from openedx.core.djangolib.js_utils import js_escaped_string

#geoffrey
from course_progress.helpers import get_overall_progress
from courseware.courses import get_course_by_id
from lms.djangoapps.grades.new.course_grade import CourseGradeFactory
%>
<%
  include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
%>
<%def name="course_name()">
 <% return _("{course_number} Courseware").format(course_number=course.display_number_with_default) %>
</%def>

<%block name="bodyclass">view-in-course view-courseware courseware ${course.css_class or ''}</%block>

<%block name="title"><title>
    % if section_title:
${static.get_page_title_breadcrumbs(section_title, course_name())}
    % else:
${static.get_page_title_breadcrumbs(course_name())}
    %endif
</title></%block>

<%block name="header_extras">

<!-- TMA FEATURES -->
<%
  completion_enabled = settings.FEATURES.get('TMA_ENABLE_COMPLETION_TRACKING')
  accordian_dots_enabled = settings.FEATURES.get('TMA_SHOW_COMPLETION_ON_COURSEWARE_NAVIGATION')
  course_id = unicode(course.id)
  #custom_track_url = reverse('track_html_component', args=[unicode(course_id)]) if completion_enabled else ''
  #completion_status_url = reverse('completion_status', args=[unicode(course_id)]) if accordian_dots_enabled else ''
  floating_button_enabled = settings.FEATURES.get('TMA_ENABLE_FORUM_FLOATING_BUTTON')
  custom_units_enabled = settings.FEATURES.get('TMA_ENABLE_CUSTOM_UNIT_LISTING')
%>
<script type="text/javascript">
  var customTrackUrl = "/track_html_component/";
  var completionStatusUrl = "/completion_status/?course_id=${course_id}";
  completionStatusUrl = '';
  var completionEnabled = "${completion_enabled}";
  var accordianDotsEnabled = "${accordian_dots_enabled}";
  var graduateicon_url = "${static.url('images/floating_button/graduateicon.png')}";
  var discussionicon_url = "${static.url('images/floating_button/discussionicon.png')}";
  var blue_red_img = "${static.url('images/nav/blue-red.png')}";
  var filled_img = "${static.url('images/nav/filled.png')}";
  var empty_img = "${static.url('images/nav/empty.png')}";
  var previous_button = "${static.url('images/nav/previous-button.png')}";
  var next_button = "${static.url('images/nav/next-button.png')}";
  var course_id = "${unicode(course.id)}";
</script>
<!-- //TMA FEATURES-->

% for template_name in ["image-modal"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="common/templates/${template_name}.underscore" />
</script>
% endfor

% if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
    % for template_name in ["course_search_item", "course_search_results", "search_loading", "search_error"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="search/${template_name}.underscore" />
        </script>
    % endfor
% endif

% if include_special_exams:
  % for template_name in ["proctored-exam-status"]:
    <script type="text/template" id="${template_name}-tpl">
        <%static:include path="courseware/${template_name}.underscore" />
    </script>
  % endfor
% endif

</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
## Utility: Notes
% if is_edxnotes_enabled(course):
<%static:css group='style-student-notes'/>
% endif

<script type="text/javascript" src="${static.url('js/jquery.autocomplete.js')}"></script>
<script type="text/javascript" src="${static.url('js/src/tooltip_manager.js')}"></script>

<link href="${static.url('css/vendor/jquery.autocomplete.css')}" rel="stylesheet" type="text/css">
  ${HTML(fragment.head_html())}
</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('common/js/vendor/jquery.scrollTo.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>

  ## codemirror
  <script type="text/javascript" src="${static.url('js/vendor/codemirror-compressed.js')}"></script>

  <%static:js group='courseware'/>
  <%include file="/mathjax_include.html" args="disable_fast_preview=True"/>

  % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
    <%static:require_module module_name="js/search/course/course_search_factory" class_name="CourseSearchFactory">
        var courseId = $('.courseware-results').data('courseId');
        CourseSearchFactory(courseId);
    </%static:require_module>
  % endif

  <%static:require_module module_name="js/courseware/courseware_factory" class_name="CoursewareFactory">
    CoursewareFactory();
  </%static:require_module>

  % if staff_access:
  	<%include file="xqa_interface.html"/>
  % endif

  <script type="text/javascript">
    var $$course_id = "${course.id | n, js_escaped_string}";
  </script>

${HTML(fragment.foot_html())}

</%block>

<div class="message-banner" aria-live="polite"></div>


<!-- HIDE COURSE TABS GEOFFREY -->


<!--
% if default_tab:
  <%include file="/courseware/course_navigation.html" />
% else:
  <%include file="/courseware/course_navigation.html" args="active_page='courseware'" />
% endif
-->

<%
courseware = static.get_value('css_overrides_courseware')
%>
% if not courseware:
  <link rel="stylesheet" type="text/css" href="${static.url('css/courseware.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(courseware)}" />
% endif
<style>
  .course-wrapper .course-content{
    margin-left: 0;
    margin-right: 0;
    width:calc(100% - 315px);
  }
  .course-index{
    margin-left: 0;
  }
  body.view-in-course .container{
    margin-top: 20px;
  }
  #tma_course_top{
    display: flex;
    align-items: center;
    height: auto!important;
  }
  #tma_title_wrapper{
    width: 70%
  }
  #tma_title_wrapper h1{
    margin-bottom: 0;
    position: static;
    top: auto;
    left: auto;
    margin-top: 0!important;
    width: 100%;
    margin-left: 0;
  }
  #tma_course_ariane{
    width: 30%;
  }
  .content-wrapper{
    min-height: calc(100vh - 100px)!important;
  }
  @media (max-width: 768px){
    .course-wrapper .course-content{
      width: 100%;
    }
    .course-index{
      width: 100%;
    }
    #tma_course_ariane{
      width: 100%;
    }
    #tma_title_wrapper{
      width: 100%
    }
    #tma_course_top{
      display: block;
    }
    #tma_title_wrapper h1{
      text-align: left;
    }
  }
/* quiz customisation */
.wrap-instructor-info {
  display: none;
}
.xblock .xblock h3.unit-title {
  text-align:center;
  font-weight:bold;
  font-size: 40px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.problem-header {
  cursor: pointer;
}
.sequence #seq_content .is_overflow {
  height: 25px;
  overflow: hidden;
  padding-bottom: 0;
}
.problem-action-buttons-wrapper,.problem-progress {
  display: none !important;
}
.position_atp {
  position: relative;
}
.dropdown_atp {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
  color: blue;
  text-align: right;
  width: 20px;
}
.arrow-bottom,.arrow-up {
  display: inline-block;

}
.arrow-bottom:before, .arrow-up:before {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.2em solid #05144d;
    border-top: 0.2em solid #05144d;
    margin-right: 0.5em;
    margin-bottom: 5px;
    transform: rotate(315deg);
}
.arrow-bottom:before {
    transform: rotate(135deg);
}
.xblock .xblock h3{
  text-transform: capitalize;
  font-size: 23px;
}
.indicator-container,.explanation-title {
  display: none !important;
}
.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit,.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit:hover,.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit:focus {
  padding-top: 2px;
  padding-bottom:2px;
  border-radius: 11px;
  color: #fff;
  background-color: #05144d;
  border-color: #05144d !important;
}
</style>
<div id="tma_course_top">
    <div id="tma_course_ariane">
      <a href="/courses/${course.id}/about">< ${_("Back to training module description")}</a>
      % if staff_access and studio_url is not None:
      <br>
      <!--<a class="instructor-info-action studio-view" href="https://${settings.CMS_BASE}/settings/manage/${course.id}">< ${_("Access Admin interface")}</a>-->
      % endif
    </div>
  <div id="tma_title_wrapper">
    <h1>${course.display_name_with_default}</h1>
  </div>

</div>
<div class="container">
  <div class="course-wrapper" role="presentation">

% if disable_accordion is UNDEFINED or not disable_accordion:
    <div class="course-index">

      <div class="wrapper-course-modes">

          <div class="courseware-bookmarks-button" data-bookmarks-api-url="${bookmarks_api_url}">
              <button type="button" class="bookmarks-list-button is-inactive" aria-pressed="false">
                  ${_('Bookmarks')}
              </button>
          </div>

          % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
            <div id="courseware-search-bar" class="search-bar courseware-search-bar" role="search" aria-label="Course">
              <form>
                <label for="course-search-input" class="sr">${_('Course Search')}</label>
                <div class="search-field-wrapper">
                  <input id="course-search-input" type="text" class="search-field"/>
                  <button type="submit" class="search-button">${_('Search')}</button>
                  <button type="button" class="cancel-button" title="${_('Clear search')}">
                    <span class="icon fa fa-remove" aria-hidden="true"></span>
                  </button>
                </div>
              </form>
            </div>
          % endif

      </div>

      <div class="accordion">
        <nav class="course-navigation" aria-label="${_('Course')}">
          % if accordion.strip():
            ${HTML(accordion)}
          % else:
            <div class="chapter">${_("No content has been added to this course")}</div>
          % endif
        </nav>
      </div>

    </div>
% endif
    <section class="course-content" id="course-content">
        <div class="path"></div>
        <main id="main" aria-label="Content" tabindex="-1">
        % if getattr(course, 'entrance_exam_enabled') and \
           getattr(course, 'entrance_exam_minimum_score_pct') and \
           entrance_exam_current_score is not UNDEFINED:
            % if not entrance_exam_passed:
            <p class="sequential-status-message">
                ${_('To access course materials, you must score {required_score}% or higher on this \
                exam. Your current score is {current_score}%.').format(
                    required_score=int(round(course.entrance_exam_minimum_score_pct * 100)),
                    current_score=int(round(entrance_exam_current_score * 100))
                )}
            </p>
            <script type="text/javascript">
            $(document).ajaxSuccess(function(event, xhr, settings) {
                if (settings.url.indexOf("xmodule_handler/problem_check") > -1) {
                    var data = JSON.parse(xhr.responseText);
                    if (data.entrance_exam_passed){
                        location.reload();
                    }
                }
            });
            </script>
            % else:
              <p class="sequential-status-message">
                ${_('Your score is {current_score}%. You have passed the entrance exam.').format(
                    current_score=int(round(entrance_exam_current_score * 100))
                )}
            </p>
            % endif
        % endif

          ${HTML(fragment.body_html())}
        </main>
    </section>

    <section class="courseware-results-wrapper">
      <div id="loading-message" aria-live="polite" aria-relevant="all"></div>
      <div id="error-message" aria-live="polite"></div>
      <div class="courseware-results search-results" data-course-id="${course.id}" data-lang-code="${language_preference}"></div>
    </section>

  </div>
</div>
<div class="container-footer">
  % if settings.FEATURES.get("LICENSING", False):
    <div class="course-license">
    % if getattr(course, "license", None):
      <%include file="../license.html" args="license=course.license" />
    % else:
      ## Default course license: All Rights Reserved, if none is explicitly set.
      <%include file="../license.html" args="license='all-rights-reserved'" />
    % endif
    </div>
  % endif
</div>

<nav class="nav-utilities ${"has-utility-calculator" if course.show_calculator else ""}" aria-label="${_('Course Utilities')}">
  ## Utility: Notes
  % if is_edxnotes_enabled(course):
    <%include file="/edxnotes/toggle_notes.html" args="course=course"/>
  % endif

  ## Utility: Calc
  % if course.show_calculator:
    <%include file="/calculator/toggle_calculator.html" />
  % endif
</nav>

<%include file="../modal/accessible_confirm.html" />
<script src="${static.url('js/courseware_completion.js')}"></script>
<%
user_id = user.id
username = user.username
course_id = course.id
%>
<script>
/* generate button result */
var button_result = '<a href="#holding-section-child" role="button" class="button-chapter chapter" id="holding-section-result" aria-controls="holding-section-child" aria-expanded="false"><span class="group-heading" aria-label="holding section"><span class="icon fa fa-caret-right" aria-hidden="true"></span>${_("Results")}</span></a>';
$('.course-navigation').append(button_result);
/* api url */
var url_score = '/api/atp/couseware_certif/${course.id}/';
function picto() {
  jQuery('img.svg').each(function(){
      var $img = jQuery(this);
      var imgID = $img.attr('id');
      var imgClass = $img.attr('class');
      var imgURL = $img.attr('src');

      jQuery.get(imgURL, function(data) {
          // Get the SVG tag, ignore the rest
          var $svg = jQuery(data).find('svg');

          // Add replaced image's ID to the new SVG
          if(typeof imgID !== 'undefined') {
              $svg = $svg.attr('id', imgID);
          }
          // Add replaced image's classes to the new SVG
          if(typeof imgClass !== 'undefined') {
              $svg = $svg.attr('class', imgClass+' replaced-svg');
          }

          // Remove any invalid XML tags as per http://validator.w3.org
          $svg = $svg.removeAttr('xmlns:a');

          // Replace image with new SVG
          $img.replaceWith($svg);

      }, 'xml');

  });
  $('img.svg').show();
}
/* generate certif */
function generate_certif() {
  var course_id = '${course_id}';
  var url_certif = '/api/atp/check/certificate/${course_id}/';
  $.ajax({
    url:url_certif,
    type:'GET',
    dataType:'json',
    success:function(data){
      window.open(data.certificate_url,'_self');
    }
  })
}
/* generate results page */
//finish
var picto_success = "${static.url('images/trophy.svg')}";
var picto_failed = "${static.url('images/refresh.svg')}";
var template_and_title = '<div id="final_score"><div id="title_result">${_("Results")}</div></div>';
var congrats = "<div id='congrats_score'>${_('Congratulation')} !</div>";
var picto = '<div id="score_picto"><img src="" class="svg"/></div>';
var first_par = ['<div id="score_first_para">${_("You have acomplished the course ")}<br>« ${course.display_name_with_default} ».</div>','<div id="score_first_para">${_("You started the training module ")}<br>« ${course.display_name_with_default} ».</div>'];
var second_par = ['<div id="second_par_score">${_("Sadly you have not achieved the minimum score wanted for this course")}</div>','<div id="second_par_score">${_("To end this training module, you have to access every chapters and finish the validation knowledge test.")}</div>'];
var score_div = '<div id="score_div_info"><span>${_("Your total score :")}</span><span id="insert_score"></span></div>';
var button = '<div id="score_button"><button>${_("Download the certificate")}</button></div>';
// in progress
var picto_url_inprogress = "${static.url('images/encours.svg')}";
var template_and_title = '<div id="final_score"><div id="title_result">${_("Results")}</div></div>';
var picto = '<div id="score_picto"><img src="'+picto_url_inprogress+'" class="svg inprogress"/></div>';

function insert_info_score(value) {
  $('#course-content').html('');
  $('#course-content').append(template_and_title);
  $('#final_score').append(picto);
  $('#final_score').append(score_div);
}

function returnScore() {
  $.ajax({
    url:url_score,
    type:'GET',
    dataType:'json',
    success:function(data) {
      var passed = data.passed;
      var is_graded = data.is_graded;
      var score = data.percent;
      var grade_cutoffs = data.grade_cutoffs;
      var overall_progress = data.overall_progress;
      score = score * 100;
      insert_info_score();
      if(overall_progress >= 93) {
        if(passed && score >= grade_cutoffs) {
          $('#second_par_score').hide();
          $('#final_score').append(congrats);
          $('#insert_score').css('color','#dc9e29');
          $('#score_picto').find('img').attr('src',picto_success);
          $('#score_picto').find('img').attr('class','svg picto_add_success');
          $('#final_score').append(first_par[0]);
          $('#final_score').append(button);
          $('#score_button').find('button').click(function(){
            generate_certif();
          })
        }else{
          $('#final_score').append(first_par[0]);
          $('#final_score').append(second_par[0]);
          $('#insert_score').css('color','red');
          $('#score_picto').find('img').attr('src',picto_failed);
          $('#score_picto').find('img').attr('class','svg picto_add_failed');
        }
      }else{
        $('#final_score').append(first_par[1]);
        $('#final_score').append(second_par[1]);
        $('#score_div_info').hide();
      }
      $('#insert_score').text(score+'%');
      jQuery('img.svg').each(function(){
          var $img = jQuery(this);
          var imgID = $img.attr('id');
          var imgClass = $img.attr('class');
          var imgURL = $img.attr('src');

          jQuery.get(imgURL, function(data) {
              // Get the SVG tag, ignore the rest
              var $svg = jQuery(data).find('svg');

              // Add replaced image's ID to the new SVG
              if(typeof imgID !== 'undefined') {
                  $svg = $svg.attr('id', imgID);
              }
              // Add replaced image's classes to the new SVG
              if(typeof imgClass !== 'undefined') {
                  $svg = $svg.attr('class', imgClass+' replaced-svg');
              }

              // Remove any invalid XML tags as per http://validator.w3.org
              $svg = $svg.removeAttr('xmlns:a');

              // Replace image with new SVG
              $img.replaceWith($svg);

          }, 'xml');

      });
      $('img.svg').show();
      $('#course-content').show();
    }
  });
};
$('#holding-section-result').click(function(){
  $(this).find('span').css('color','#fff');
  $(this).css('background-color','#dc9e29');
  $('.course-wrapper').find('.course-content').css('padding-top','0px');
  $('.course-wrapper').find('.course-content').css('padding-bottom','0px');
  returnScore();
})
// other
function ariane_height() {
  var width = $(window).width();
  if(width > 899) {
    var h1_h = $('#tma_course_top').find('h1').height();
    $('#tma_course_top').css('height',h1_h+'px');
    $('#tma_course_top').find('h1').css('margin-top','-'+(h1_h/2)+'px');
  }else{
    $('#tma_course_top').attr('style','');
    $('#tma_course_top').find('h1').attr('style','');
  }
}
ariane_height();
$(window).resize(function(){
  ariane_height();
})
</script>

<!-- bouton de nav -->
<style>
#sub_nav {
  width: auto;
  height: auto;
  position: fixed;
  right: 10px;
  bottom: 35px;
  display: inline-block;
  background-color: #0C1C49;
}
#nav_button,#sub_context {
  display: inline-block;
}
.full_width {
  width: 100% !important;
}
.is_none_atp {
  display: none !important;
}
.is_hidden {
  visibility: hidden;
}
.border_radius_left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.border_radius_right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sequence-bottom {
  visibility: hidden;
}
#sub_nav button,#sub_nav button:hover,#sub_nav button:focus {
  color: #fff !important;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  text-shadow: none !important;
  box-shadow: none;
  font-size: 18px;
  height: 37px;
  line-height: 23px;
  vertical-align: middle;
  outline: none !important;
}
#nav_button button,#zoom {
  min-width: 80px;
}
#sub_nav button:hover {
  color: rgb(49, 174, 238) !important;
}
.previous_title_nav span {
  margin-left: 15px;
}
.next_title_nav span {
  margin-right: 15px;
}
#separator {
  min-width: 2px !important;
  width: 2px !important;
  padding: 0;
  margin-top: 7px;
  margin-bottom: 7px;
  height: 23px !important;
  display: inline-block;
  background-color: rgb(49, 174, 238) !important;
}
.svg-inline--fa.fa-w-16{
  height: 23px !important;
}
#full {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
</style>
