<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
from django.utils.translation import ugettext as _
from django.conf import settings

from edxnotes.helpers import is_feature_enabled as is_edxnotes_enabled
from openedx.core.djangolib.markup import HTML
from openedx.core.djangolib.js_utils import js_escaped_string
from datetime import datetime, date
from student.models import User
from courseware.views.index import CoursewareIndex
#GEOFFREY

from opaque_keys.edx.keys import CourseKey
from lms.djangoapps.course_blocks.api import get_course_blocks_tma
from openedx.core.djangoapps.bookmarks.api import get_bookmark,get_bookmarks
from opaque_keys.edx.locations import SlashSeparatedCourseKey
from xmodule.modulestore.django import modulestore

%>
<%block name="pagetitle">${_("Dashboard")}</%block>
<!--
<script src="${static.url('js/stat_dashboard.js')}"></script>
-->
<!-- css assets -->
<%
stat_dashboard = static.get_value('css_overrides_stat_dashboard')
%>
% if not stat_dashboard:
  <link rel="stylesheet" type="text/css" href="${static.url('css/stat_dashboard.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(stat_dashboard)}" />
% endif

<style>
#participant_search {
  background-image: url("${static.url('images/search.png')}");
  background-position: center;
  background-repeat: no-repeat;
}
#loader {
  background-image: url("${static.url('images/loading.gif')}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#voile {
 position: fixed !important;
}
</style>
<div id="contenair">
  <!-- header -->
  <div id="header">
    <p>${_('Statistical training campaign')}</p>
    <h1>${course.display_name_with_default_escaped}</h1>
  </div>
  <!-- a rajouter -->



  <!-- a rajouter -->
  <!-- dashboard -->
  <section class="section_block">
    <div id="dashboard">
      <div id="table_info" class="dashboard">
        <h2>${_('training campaign info')}</h2>
      <!--
        <p>${_('launching date')} : <span></span></p>
      -->
        <p><button id="generate_xls">${_("download")}</button></p>
        <p>${_('starting date')} : <span>${course.start.strftime('%d-%m-%Y')}</span></p>
        <p>${_('ending date')} : <span>
% if course.end:
  ${course.end.strftime('%d-%m-%Y')}
% endif
      </span></p>
      <p>${_('percentage for success')} : <span>${course_module.grade_cutoffs['Pass'] * 100} %</span></p>
      <p>${_('Mode')} : <span>
% if course.is_required_atp:
  ${_('mandatory')}
% else:
  ${_('optional')}
% endif
      </span></p>
      <p>${_('Status')} : <span>
% if course.end:
  % if course.end.date() > datetime.today().date():
    ${_('In progress')}
  % else:
    ${_('End')}
  % endif
% else:
  ${_('In progress')}
% endif
        </span></p>
      </div>
      <div id="table_stat" class="dashboard">
        <h2>${_('users stats')}</h2>
        <div id="cellule_stat">
          <div class="cellule_stat" id="cellule_stat_first">
            <p>${_('Network')}</p>
            <img src="${static.url('images/logo.png')}" />
          </div>
          <div class="cellule_stat">
            <p>${_('Target')}</p>
            <p id="title">training<br>platform</p>
          </div>
          <div class="cellule_stat">
            <p>${_('Guests')}</p>
            <p>${all_user}</p>
          </div>
          <div class="cellule_stat" id="cellule_stat_last">
            <p>${_('Participants')}</p>
            <p>${user_course_started}</p>
          </div>
          <div style="clear:left;"></div>
        </div>
        <div id="result">
          <h2>${_('Results')}</h2>
          <div id="cell_result">
            <div class="cell_result" id="cell_result_first">
              <p>${_('Certified')}</p>
              <p id="num_result_on">${num_passed}</p>
            </div>
            <div class="cell_result" id="cell_result_last">
              <p>${_('Average result')}</p>
              <p>${course_average_grade} %</p>
            </div>
            <div style="clear:left;"></div>
          </div>
        </div>
      </div>
      <div style="clear:left;"></div>
    </section>
    <section class="section_block">
      <div id="score_title">
        <h2>${_('Average score')}</h2>
      </div>
      <div id="block_stat_question">
      <div id="voile"><div id="loader"></div></div>
        <div id="nav_block_stat_question">
          <button data-position="average">${_('per question')}</button>
          <button data-position="participant">${_('per participant')}</button>
          <span style="display:block;clear:left;"></span>
        </div>
        <div id="body_block_stat_question">
          <div id="block_average" class="block_question">
% for chapter in course_structure:
  % if 'problem' in str(chapter):
  <div class="chapter_box">
    <h3 data-id="${chapter['id']}">${chapter['display_name']}</h3>
    % for section in chapter['children']:
      % if 'problem' in str(section):
      <div class="section_box">
        <h4 data-id="${section['id']}">${section['display_name']}</h4>
        % for vertical in section['children']:
          % if 'problem' in str(vertical):
          <span data-children="${vertical['children']}" data-title="${vertical['display_name']}" class="data_content"></span>
          % endif
        % endfor
        <div class="problem_box"></div>
      </div>
      % endif
    % endfor
  </div>
  % else:
  <div class="chapter_box">
    <h3 data-id="${chapter['id']}">${chapter['display_name']}</h3>
    % for section in chapter['children']:
        <div class="section_box">
          <h4 data-id="${section['id']}">${section['display_name']}</h4>
            <div class="problem_box">
              <ul>
        % for vertical in section['children']:
                <li><span class="puce_li"></span><p>${vertical['display_name']} <span class="unrated_unit_span">(${_('unrated unit')})</span></p></li>
        % endfor
              </ul>
            </div>
        </div>
    % endfor
  </div>
  % endif
% endfor
          </div>
          <!-- block participant -->
          <!-- block participant -->
          <!-- block participant -->
          <div id="block_participant" class="block_question">
            <!-- nav paricipant -->
            <!-- nav paricipant -->
            <!-- nav paricipant -->
            <div id="nav_participant">
              <!-- search block -->
              <!-- search block -->
              <!-- search block -->
              <div id="form_participant">
                <input type="text" name="name_participant" id="name_participant" value="" />
                <button id="participant_search" data-courseid="${course_id}"></button>
                <div style="clear:left;"></div>
                <div id="list_participant"></div>
              </div>
              <div id="table_participant">
              </div>
            </div>
            <div id="content_participant">
<span id="inside_user_content">
% for chapter in course_structure:
  % if 'problem' in str(chapter):
  <div class="chapter_box">
    <h3 data-id="${chapter['id']}">${chapter['display_name']}</h3>
    % for section in chapter['children']:
      % if 'problem' in str(section):
      <div class="section_box">
        <h4 data-id="${section['id']}">${section['display_name']}</h4>
        % for vertical in section['children']:
          % if 'problem' in str(vertical):
          <span data-children="${vertical['children']}" data-title="${vertical['display_name']}" class="data_content"></span>
          % endif
        % endfor
        <div class="problem_box"></div>
      </div>
      % endif
    % endfor
  </div>
  % else:
  <div class="chapter_box">
    <h3 data-id="${chapter['id']}">${chapter['display_name']}</h3>
    % for section in chapter['children']:
        <div class="section_box">
          <h4 data-id="${section['id']}">${section['display_name']}</h4>
            <div class="problem_box">
              <ul>
        % for vertical in section['children']:
                <li><span class="puce_li"></span><p>${vertical['display_name']} <span class="unrated_unit_span">(${_('unrated unit')})</span></p></li>
        % endfor
              </ul>
            </div>
        </div>
    % endfor
  </div>
  % endif
% endfor
</span>
            </div>
          </div>
        </div>
    </section>
  </div>
</div>
<%
course_key = CourseKey.from_string(course_id)
course_usage_key = modulestore().make_course_usage_key(course_key)
%>
<script>
// test
var course_key = "${course_usage_key}";
// final
var grade_img_success = "${static.url('images/user_grade_success.png')}";
var grade_img_fail = "${static.url('images/user_grade_fail.png')}";
</script>
<script src="${static.url('js/stat_dashboard.js')}"></script>
<!-- action sur le dom -->
<script>
function info_p() {
  var p = 0;
  $('#table_info').find('p').attr('style','');
  var width = $(document).width();
  if(width < 729){
    $('#table_info').find('p').each(function(){
      var This = $(this);
      var c = This.height();
      if(c > p) {
        p = c;
      }
    })
    $('#table_info').find('p').css('height',p+'px');
  }else{
    $('#table_info').find('p').attr('style','');
  }
}
function heightCelluleStat() {
  $('.cellule_stat').each(function(){
    var This = $(this);
    var width = This.width();
    This.css('height',width+'px');
    var heightP = This.find('p:first-child').height();
    var paddingP = 50;
    var heightS = heightP + 50;
  })
}
</script>
<!-- action on dom -->
<script>
$(document).ready(function(){
  heightCelluleStat();
  info_p();
})
$(window).resize(function(){
  heightCelluleStat();
  alignCells();
  info_p();
})
$('#generate_xls').click(function(){
  var current_path = window.location.pathname;
  var url = current_path+'/generate_xls/'
  $.ajax({
    type:'get',
    url:url,
    dataType:'json',
    success:function(data) {
      var filename = data.filename;
      var xls_url = '/atp/download_xls/'+filename;
      window.open(xls_url,'_self');
    }
  })

})
</script>
<style>
#generate_xls,#generate_xls:hover,#generate_xls:focus,#generate_xls:visited {
  color: #fff;
  border: none;
  background-color: #cf9c49;
  border-radius: 0;
  text-shadow: none;
}
</style>
