<%page expression_filter="h"/>
<%inherit file="main.html" />
<%def name="online_help_token()"><% return "learnerdashboard" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from django.template import RequestContext
import third_party_auth
from third_party_auth import pipeline
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text

from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.models.course_details import CourseDetails
from course_progress.helpers import get_overall_progress
from lms.djangoapps.grades.new.course_grade import CourseGradeFactory
import random

from django.utils.translation import LANGUAGE_SESSION_KEY

from courseware.courses import (
    get_course_by_id,
)
first_course_name = ''
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>

<!--MODIF AURELIEN-->
<style>
#dashboard_header_content h1 span:last-child, #dashboard_header_content h1 span:first-child{
font-size:50px !important;
}

</style>



<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>

<%block name="header_extras">

% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor

% for template_name in ["dashboard_search_item", "dashboard_search_results", "search_loading", "search_error"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="search/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <script src="${static.url('js/commerce/credit.js')}"></script>
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard') | n, js_escaped_string}",
        signInUser: "${reverse('signin_user') | n, js_escaped_string}",
        changeEmailSettings: "${reverse('change_email_settings') | n, js_escaped_string}"
      });
    });
  </script>
  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <%static:require_module module_name="js/search/dashboard/dashboard_search_factory" class_name="DashboardSearchFactory">
        DashboardSearchFactory();
    </%static:require_module>
  % endif
  % if redirect_message:
    <%static:require_module module_name="js/views/message_banner" class_name="MessageBannerView">
        var banner = new MessageBannerView({urgency: 'low', type: 'warning'});
        $('#content').prepend(banner.$el);
        banner.showMessage(${redirect_message | n, dump_js_escaped_json})
    </%static:require_module>
  % endif
</%block>
<!-- GEOFFREY -->
<!-- import custom css script -->
<%
dashboard = static.get_value('css_overrides_dashboard')
%>
% if not dashboard:
  <link rel="stylesheet" type="text/css" href="${static.url('css/dashboard.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(dashboard)}" />
% endif
<!-- import custom js script -->
<script src="${static.url('js/dashboard_atp.js')}"></script>

<!-- platform messages html script -->
<div class="dashboard-notifications" tabindex="-1">
    %if message:
        <div class="dashboard-banner">
            ${message | n, decode.utf8}
        </div>
    %endif

    %if enrollment_message:
        <div class="dashboard-banner">
            ${enrollment_message | n,  decode.utf8}
        </div>
    %endif
</div>
<!-- end -->
<!-- custom html script -->
<%
url_array = []
url_array.append('images/1collaboration.jpg')
url_array.append('images/2centrefinancier.jpg')
url_array.append('images/3connaissance.jpg')
url_array.append('images/4environement.jpg')
url_image = random.choice(url_array)
%>
<style>
#dashboard_header_atp {
  background-image: url('${static.url(url_image)}');
}
</style>
<section id="dashboard_tma">
	<!-- baniere  -->
	<section id="dashboard_header_atp">
		<div id="dashboard_header_content">
			<p>${_("Welcome on")}</p>
      <div id="logo-amundiacademy">
        <img src="${static.url('images/logo-amundiacademy.png')}" />
      </div>
			<p>${_("Develop your knowledge and skills on asset management: financial culture and offers.")}</p>
			<button class="tuto_action">${_("More")} <span id="atp_tuto_arrow_up" class="arrow-right"></span></button>
		</div>
	</section>
        <!-- tuto  -->
	<section id="dashboard_tuto_atp">
		<!-- module 1 -->
		<div class="dashboard_tuto_atp" id="tuto_module_1">
			<p>${_("To follow a training module, select the thumbnail of your choice!")}</p>
			<p style="margin-top: 0;margin-bottom: 0;">${_("Each training module belongs to a category and can take")}</p>
			<p>${_("different formats")}.</p>
		</div>
		<!-- module 2 -->
                <div class="dashboard_tuto_atp">
			<h3>${_("Training modules")}</h3>
			<p style="margin-bottom:5px;">${_("Find all the information related to the training on the thumbnails below")}: ${_("timing of the module")},</p>
			<p style="margin-top:5px;">${_("if the module is mandatory or not and formats of the module")}.</p>
			<img src="${static.url('images/cartes.png')}" id="img_dashboard_tuto_cartes"/>
                </div>
		<!-- module 3 -->
                <div class="dashboard_tuto_atp">
			<h3>${_("TRAINING MODULES CATEGORIES")}</h3>
			<p>${_("Your training modules are classified into 4 categories")}:</p>
			<ul>
				<li id="dashboard_tuto_atp_1">
					<h4>${_("fundamentals")}:</h4>
					<p>${_("Know the essentials of financial markets")}</p>
				</li>
                                <li id="dashboard_tuto_atp_2">
                                        <h4>${_("Business approach")}:</h4>
                                        <p>${_("Improve your soft skills")}</p>
                                </li>
				<span style="clear:left; display: block;width:100%;height:0;padding:0;margin:0;"></span>
                                <li id="dashboard_tuto_atp_3">
                                        <h4>${_("our solutions")}:</h4>
                                        <p>${_("Learn about products and offers that are sold")}</p>
                                </li>
                                <li id="dashboard_tuto_atp_4">
                                        <h4>${_("regulatory")}:</h4>
                                        <p>${_("Understanding regulatory decisions")}</p>
                                </li>
				<span style="clear:left; display: block;width:100%;height:0;padding:0;margin:0;"></span>
			</ul>
                </div>
		<!-- module 4 -->
                <div class="dashboard_tuto_atp last_tuto_atp" style="border-bottom: none;">
			<h3>${_("Modules format")}</h3>
			<p>${_("Each module is composed of different interactive formats:")}</p>
			<p>${_("texts & images")}, ${_("pedagogical videos")}, ${_("quizzes")}, ${_("pdf")}, ${_("etc")}.</p>
			<div class="dashboard_picto_tuto_tma">
				<div><img src="${static.url('images/video.svg')}" class="svg"/><span>${_("video")}</span></div>
				<div><img src="${static.url('images/quiz.svg')}" class="svg"/><span>${_("quiz")}</span></div>
                                <div><img src="${static.url('images/webzine.svg')}" class="svg"/><span>${_("webzine")}</span></div>
                                <div><img src="${static.url('images/seriousgame.svg')}" class="svg"/><span>${_("serious game")}</span></div>
                                <div><img src="${static.url('images/pdf.svg')}" class="svg"/><span>${_("pdf")}</span></div>
                                <div><img src="${static.url('images/testes&images.svg')}" class="svg"/><span>${_("texts & images")}</span></div>
				<span style="display:block;clear:left;"></span>
			</div>
                </div>
		<!-- button close -->
                <div class="dashboard_tuto_atp">
			<button class="tuto_action"><span>${_("Close")}</span> <span class="arrow-top"></span></button>
                </div>
	</section>
  % if _ensure_status:
  <section id="ariane_dashboard">
    <a href="https://${settings.CMS_BASE}">< ${_("Access Admin interface")}</a>
  </section>
  % endif
	<!-- module en cours -->
	<section  id="dashboard_course_in_progress_atp">
        	<h2><img src="${static.url('images/encours.svg')}" class="svg"/><span>${_("IN PROGRESS TRAINING MODULES")}</span></h2>
		<p class="first_p">${_("You have started but haven't completed yet the following training modules. To go on, please click on")} &laquo; ${_("Proceed")} &raquo;.</p>
        <!-- course listing -->
<% compteur = 0 %>
<% first_course_name = '' %>
% if len(progress_courses) > 0:
  <ul class="atp_course_listing">
  <% share_settings = getattr(settings, 'SOCIAL_SHARING_SETTINGS', {}) %>
  <% compteur = 0 %>
  % for q in progress_courses:
    <% compteur = compteur + 1 %>
    <% atp_rank = q['atp_rank'] %>
    <% course_about = q['course_about'] %>
    <% show_courseware_link = q['show_courseware_link'] %>
    <% cert_status = q['cert_status'] %>
    <% can_unenroll = q['can_unenroll'] %>
    <% credit_status = q['credit_status'] %>
    <% show_email_settings = q['show_email_settings'] %>
    <% course_mode_info = q['course_mode_info'] %>
    <% show_refund_option = q['show_refund_option'] %>
    <% is_paid_course = q['is_paid_course'] %>
    <% is_course_blocked = q['is_course_blocked'] %>
    <% course_verification_status = q['course_verification_status'] %>
    <% course_requirements = q['course_requirements'] %>
    <% course_key = q['course_key'] %>
    <% duration = q['duration'] %>
    <% required = q['required'] %>
    <% content_data = q['content_data'] %>
    <% category = q['category'] %>
    <%include file='dashboard/_dashboard_course_listing.html' args='categ=category,content_data=content_data,required=required,course_about_name=False,duration=duration,course_about_link=False,course_about_id=False,course_about_img=False,course_about=course_about,course_progression=q["course_progression"],compteur=compteur,atp_rank=atp_rank,course_overview=q["course_overview"], enrollment=q["enrollment"], show_courseware_link=show_courseware_link, cert_status=cert_status, can_unenroll=can_unenroll, credit_status=credit_status, show_email_settings=show_email_settings, course_mode_info=course_mode_info, show_refund_option=show_refund_option, is_paid_course=is_paid_course, is_course_blocked=is_course_blocked, verification_status=course_verification_status, course_requirements=course_requirements, dashboard_index=q["dashboard_index"], share_settings=share_settings, user=user, display_course_modes_on_dashboard=display_course_modes_on_dashboard' />
  % endfor
    <span style="display:block;clear:left"></span>
  </ul>
% else:
  <div class="empty-dashboard-message">
    <p>${_("No training modules available in this section.")}</p>
</div>
% endif
% if compteur > 3:
		<a class="atp_dashboard_active_course">+ ${_("More modules")}</a>
% endif
	</section>
	<!-- module a realiser -->
	<section id="dashboard_course_to_do">
        	<h2><img src="${static.url('images/arealiser.svg')}" class="svg"/><span>${_("TO DO TRAINING MODULES")}</span></h2>
		<p class="first_p">${_("You haven't started yet the following training modules. Click on")} &laquo; ${_("More information")} &raquo; ${_("to access the training module description")}.</p>
	<!-- course listing -->
<% compteur = 0 %>
% if len(course_enrollments) > 0:
  <ul class="atp_course_listing">
  <% share_settings = getattr(settings, 'SOCIAL_SHARING_SETTINGS', {}) %>
  <% compteur = 0 %>
  % for dashboard_index, enrollment in enumerate(course_enrollments):
    <% course_id = enrollment.course_overview.id %>
    <% user_id = request.user.id %>
    <% course_progression = get_overall_progress(user_id,course_id) %>
    % if course_progression == 0:
      <% compteur = compteur + 1 %>
      <% atp_rank = "invite" %>
      <% course_about = 0 %>
      <% show_courseware_link = (enrollment.course_id in show_courseware_links_for) %>
      <% cert_status = cert_statuses.get(enrollment.course_id) %>
      <% can_unenroll = (not cert_status) or cert_status.get('can_unenroll') %>
      <% credit_status = credit_statuses.get(enrollment.course_id) %>
      <% show_email_settings = (enrollment.course_id in show_email_settings_for) %>
      <% course_mode_info = all_course_modes.get(enrollment.course_id) %>
      <% show_refund_option = (enrollment.course_id in show_refund_option_for) %>
      <% is_paid_course = (enrollment.course_id in enrolled_courses_either_paid) %>
      <% is_course_blocked = (enrollment.course_id in block_courses) %>
      <% course_verification_status = verification_status_by_course.get(enrollment.course_id, {}) %>
      <% course_requirements = courses_requirements_not_met.get(enrollment.course_id) %>
      <% course_key = enrollment.course_id %>
      <% duration = CourseDetails.fetch(course_key).effort %>
      <% required = get_course_by_id(enrollment.course_id).is_required_atp %>
      <% content_data = get_course_by_id(enrollment.course_id).content_data %>
      <% category = get_course_by_id(enrollment.course_id).categ %>
      % if compteur == 1:
        <% first_course_name = enrollment.course_overview.display_name_with_default %>
      % endif
      <%include file='dashboard/_dashboard_course_listing.html' args='categ=category,content_data=content_data,required=required,duration=duration,course_about_name=False,course_about_link=False,course_about_id=False,course_about_img=False,course_about=course_about,course_progression = course_progression,compteur=compteur,atp_rank=atp_rank,course_overview=enrollment.course_overview, enrollment=enrollment, show_courseware_link=show_courseware_link, cert_status=cert_status, can_unenroll=can_unenroll, credit_status=credit_status, show_email_settings=show_email_settings, course_mode_info=course_mode_info, show_refund_option=show_refund_option, is_paid_course=is_paid_course, is_course_blocked=is_course_blocked, verification_status=course_verification_status, course_requirements=course_requirements, dashboard_index=dashboard_index, share_settings=share_settings, user=user, display_course_modes_on_dashboard=display_course_modes_on_dashboard' />
    % endif
  % endfor
    <span style="display:block;clear:left"></span>
  </ul>
% else:
  <div class="empty-dashboard-message">
    <p>${_("No training modules available in this section.")}</p>
</div>
% endif
% if compteur > 3:
		<a class="atp_dashboard_active_course">+ ${_("More modules")}</a>
% endif
	</section>
	<!-- module termine -->
	<section id="dashboard_course_finished">
		<h2><img src="${static.url('images/termine.svg')}" class="svg gradient"/><span>${_("COMPLETED TRAINING MODULES")}</span></h2>
		<p class="first_p">${_("You have completed the following training modules. Click on")} &laquo; ${_("More information")} &raquo; ${_("to access your results and scores")}.</p>
	<!-- course listing -->
<% compteur = 0 %>
% if len(finish_courses) > 0:
  <ul class="atp_course_listing">
  <% share_settings = getattr(settings, 'SOCIAL_SHARING_SETTINGS', {}) %>
  <% compteur = 0 %>
  % for q in finish_courses:
    <% compteur = compteur + 1 %>
    <% atp_rank = q['atp_rank'] %>
    <% course_about = q['course_about'] %>
    <% show_courseware_link = q['show_courseware_link'] %>
    <% cert_status = q['cert_status'] %>
    <% can_unenroll = q['can_unenroll'] %>
    <% credit_status = q['credit_status'] %>
    <% show_email_settings = q['show_email_settings'] %>
    <% course_mode_info = q['course_mode_info'] %>
    <% show_refund_option = q['show_refund_option'] %>
    <% is_paid_course = q['is_paid_course'] %>
    <% is_course_blocked = q['is_course_blocked'] %>
    <% course_verification_status = q['course_verification_status'] %>
    <% course_requirements = q['course_requirements'] %>
    <% course_key = q['course_key'] %>
    <% duration = q['duration'] %>
    <% required = q['required'] %>
    <% content_data = q['content_data'] %>
    <% category = q['category'] %>
    <%include file='dashboard/_dashboard_course_listing.html' args='categ=category,content_data=content_data,required=required,course_about_name=False,duration=duration,course_about_link=False,course_about_id=False,course_about_img=False,course_about=course_about,course_progression=q["course_progression"],compteur=compteur,atp_rank=atp_rank,course_overview=q["course_overview"], enrollment=q["enrollment"], show_courseware_link=show_courseware_link, cert_status=cert_status, can_unenroll=can_unenroll, credit_status=credit_status, show_email_settings=show_email_settings, course_mode_info=course_mode_info, show_refund_option=show_refund_option, is_paid_course=is_paid_course, is_course_blocked=is_course_blocked, verification_status=course_verification_status, course_requirements=course_requirements, dashboard_index=q["dashboard_index"], share_settings=share_settings, user=user, display_course_modes_on_dashboard=display_course_modes_on_dashboard' />
  % endfor
    <span style="display:block;clear:left"></span>
  </ul>
% else:
  <div class="empty-dashboard-message">
    <p>${_("No training modules available in this section.")}</p>
</div>
% endif
% if compteur > 3:
  <a class="atp_dashboard_active_course">+ ${_("More modules")}</a>
% endif
	</section>
</section>
% if is_new_user:
<div id="pop_up">
  <p>${_("Welcome on Amundi Academy platform")}!</p>
  <p>${_("You successfully registered")}</p>
  <p>${_("The training module")} ${first_course_name} ${_("is available in the section")}</p>
  <p>${_("TO DO TRAINING MODULES")}</p>
  <button id="close_pop_up">${_("Close")}</button>
</div>
<script>
$('#close_pop_up').click(function(){
  $('#pop_up').addClass('is_hidden_tma');
})
</script>
% endif
