## mako
<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from context_processors import doc_url
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
from util.enterprise_helpers import get_enterprise_customer_logo_url
from student.models import User
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif

<%block>
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
<%
_ensure_status = False
try:
  #ensure user is staff or instructor
  _ensure_user_id = request.user.id
  _ensure_user_status = User.objects.raw('SELECT b.id ,b.role FROM auth_user a,student_courseaccessrole b WHERE a.id=b.user_id AND b.user_id=%s' ,[_ensure_user_id])
  a = 0
  _ensure_status = False
  for n in _ensure_user_status:
      a = a + 1
  if a > 0:
      _ensure_status = True
except:
  pass
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
<!-- GEOFFREY -->
<style>
#atp_menu_mobile {
 cursor: pointer;
}
</style>
<!-- import custom css script -->
<%
nav = static.get_value('css_overrides_nav')
%>
% if not nav or nav == '':
  <link rel="stylesheet" type="text/css" href="${static.url('css/nav.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(nav)}" />
% endif

<!-- import custom js script -->
<script src="${static.url('js/navigation_atp.js')}"></script>
<section id="tma_nav">
<!--
<section id="up_apt_nav">
% if user.is_authenticated():
<a href="/u/${request.user.username}">${_("My account")}</a>
% else:
<a href="">${_("My account")}</a>
% endif
</section>
-->
<section id="down_apt_nav">
<%
logo_url = static.get_value('logo')
%>
% if not logo_url:
<img id="logo_atp_redirect" src="${static.url('images/logo.png')}" />
% else:
<img id="logo_atp_redirect" src="${logo_url}" />
% endif
<img id="atp_menu_mobile" src="${static.url('images/menu_mobile.png')}" class="sub_picto" id="sub_mobile_img"/>
% if user.is_authenticated():
  <a id="log_user_action" href="/logout"><img src="${static.url('images/shut-down-icon.svg')}" class="svg"/><span><div id="log_user_action_array"></div>${_('logout')}</span></a>
  <a href="/u/${request.user.username}" id="sub_to_dashboard_account"><img src="${static.url('images/man-user.png')}" class="svg"/><span><div id="account_user_action_array"></div>${_('My account')}</span></a>
% else:
  <a id="log_user_action" href="/login"><img src="${static.url('images/shut-down-icon.svg')}" class="svg"/><span><div id="log_user_action_array"></div>${_('login')}</span></a>
% endif
<div id="sub_menu">
% if "/dashboard" in request.path:
<button class="sub_menu" data-location="menu_module_apt" id="my_course_covers">${_("My modules")} <span class="arrow_button"></span></button>
<div id="menu_module_apt">
 <button data-location="dashboard_course_in_progress_atp">${_("In progress")}</button>
 <button data-location="dashboard_course_to_do">${_("To do")}</button>
 <button data-location="dashboard_course_finished">${_("Completed")}</button>
 <!--
 <button id="cat_all" data-location="all">${_("All")}</button>
 -->
</div>
<button class="sub_menu" data-location="menu_cat_apt" id="nav_replace_before">${_("My Categories")} <span class="arrow_button"></span></button>
<div id="menu_cat_apt">
 <button id="cat_fond" data-location="fundamental">${_("Fundamentals")}</button>
 <button id="cat_solu" data-location="oursolutions">${_("Our solutions")}</button>
 <button id="cat_dem_com" data-location="salesapproach">${_("Business approach")}</button>
 <button id="cat_reg" data-location="regulatory">${_("Regulatory")}</button>
 <button id="cat_all" data-location="all">${_("All")}</button>
</div>
  % if user.is_authenticated():
    % if _ensure_status:
      <a href="https://${settings.CMS_BASE}" id="to_lms">${_("Access Admin interface")}</a>
    % endif
  % else:
  <a href="">${_("My account")}</a>
  % endif
<span style="display:block;clear:both;" id="nav_replace_after"></span>
% endif
% if not "/dashboard" in request.path:
<!--
<a
  % if user.is_authenticated():
    href="/u/${request.user.username}"
  % else:
    href=""
  % endif
id="sub_to_dashboard_account"><img src="${static.url('images/man-user.png')}" class="svg"/><span><div id="account_user_action_array"></div>${_('My account')}</span></a>
-->

<a href="/dashboard" class="sub_picto sub_other_menu" id="sub_to_dashboard" >
<!--
  <img src="${static.url('images/home.png')}" style="height:40px; margin-top: 20px;"/>
-->
<span>${_("Home")}</span>
</a>
% if _ensure_status:
  <a href="https://${settings.CMS_BASE}" id="to_lms">${_("Access Admin interface")}</a>
% endif
</div>
% endif
<span style="display:block;clear:both;"></span>
</section>
</section>
<style>
#to_lms {
  width: 169px !important;
  height: 90px !important;
  min-width: 169px !important;
  line-height: 45px !important;
}
#sub_to_dashboard_account:hover span {
    display: block;
}
#account_user_action_array {
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    font-family: "mywebfont";
    border-bottom: 5px solid #05144d;
}
#sub_to_dashboard_account span {
    position: absolute;
    left: 0;
    display: none;
    width: calc(100% - 8px);
    text-align: center;
    top: 96px;
    border: 1px solid #05144d;
    font-size: 10px;
    line-height: 10px;
    vertical-align: middle;
    padding: 3px;
    height: auto;
    color: #05144d;
    background-color: #fff;
}
#down_apt_nav #sub_to_dashboard_account{
  width: 90px !important;
  height: 90px !important;
  min-width: 90px;
  text-align: center;
  line-height: 90px;
  vertical-align: middle;
  position: relative;
}
#sub_to_dashboard_account img{
  width: 30px;
  height: 30px;
  margin-left: 0;
}
@media(max-width:1022px) {
  #to_lms{
    width: 100% !important;
    height: 54px !important;
    line-height: 54px !important;
  }
  #sub_to_dashboard {
    height: 54px !important;
    line-height: 54px !important;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
  }
  #down_apt_nav #atp_menu_mobile {
    right: 210px !important;
  }
  #sub_to_dashboard_account {
    border-left: 1px solid #fff !important;
  }
  #my_course_covers,#nav_replace_before,#to_lms {
    border-bottom: 1px solid #fff !important;
  }
}
@media(max-width:408px) {
  #down_apt_nav,#tma_nav {
    height: 60px;
  }
  #log_user_action,#down_apt_nav #sub_to_dashboard_account {
    width: 60px !important;
    height: 60px !important;
    line-height: 60px !important;
    min-width: 40px !important;
  }
  #logo_atp_redirect {
    margin-left: 10px !important;
    margin-top: -30px !important;
  }
  #down_apt_nav #atp_menu_mobile {
    right: 140px !important;
  }
  #sub_menu {
    top: 60px;
  }
}
</style>
</%block>
<%include file="help_modal.html"/>
