## mako
<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from context_processors import doc_url
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
from util.enterprise_helpers import get_enterprise_customer_logo_url
from student.models import User
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif

<%block>
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
<%
_ensure_status = False
try:
  #ensure user is staff or instructor
  _ensure_user_id = request.user.id
  _ensure_user_status = User.objects.raw('SELECT b.id ,b.role FROM auth_user a,student_courseaccessrole b WHERE a.id=b.user_id AND b.user_id=%s' ,[_ensure_user_id])
  a = 0
  _ensure_status = False
  for n in _ensure_user_status:
      a = a + 1
  if a > 0:
      _ensure_status = True
except:
  pass
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
<!-- GEOFFREY -->

<%
if configuration_helpers.get_value('secondary_color') :
  secondary_color = configuration_helpers.get_value('secondary_color')
else:
  secondary_color='#00B6ED'
if configuration_helpers.get_value('primary_color') :
  primary_color = configuration_helpers.get_value('primary_color')
else:
  primary_color='#05144d'
%>

<style>
.primary-color-bg{
  background-color:${primary_color}!important;
}
.primary-color-text{
  color:${primary_color}!important;
}
.secondary-color-bg{
  background-color:${secondary_color}!important;
}
.secondary-color-text{
  color:${secondary_color}!important;
}
#atp_menu_mobile {
 cursor: pointer;
}
.logo-amundi-academy{
  height: 22px!important;
}
#profile_menu{
  min-width: 70px;
  margin-right: 30px;
  margin-left: 15px;
}
#profile-submenu{
  right: 0;
}
.profile-name-atp{
  text-align: left!important;
}
.access-back-atp a{
  text-align: left!important;
}
#user-icone svg{
  background-color: ${primary_color} !important;
  border: 1px solid ${primary_color} !important;
}
#profile_menu:hover #user-icone svg:first-child{
  background-color: ${secondary_color} !important;
  border: 1px solid ${secondary_color} !important;
}
#user-icone{
  color:white!important;
}
#down_apt_nav img{
  width: initial;
}
#amundi-brand-container{
  min-width: 250px!important;
  padding:0!important;
}
#logo_atp_redirect{
  cursor: pointer!important;
}
#menu-categories{
  border-right: 1px solid white;
}
#menu-modules{
  border-right: 1px solid rgba(255,255,255,0.5)!important;
  border-left: 1px solid rgba(255,255,255,0.5)!important;
}
#menu-categories{
  border-right: 1px solid rgba(255,255,255,0.5)!important;
}
#user-icone {
    font-size: 22px;
    border-radius: 100%;
    width: 45px;
    height: 45px!important;
    margin: 11px;
}
p.name-atp-user, p.email-atp-user{
  margin-left:0px;
}
@media (max-width: 1022px){
#user-icone{
  margin:0!important;
}
#profile_menu{
  margin-right: 0;
}
}
#profile_menu:hover #user-icone{
  background-color: ${secondary_color};
}



/* responsive mon compte */

@media (max-width: 1022px){
  .is_flex {
    display: flex !important;
    flex-direction: column !important;
  }
  #profile_menu{
    width: auto!important;
    position: absolute!important;
    right: 0!important;
    top: 15px!important;
    background-color: transparent!important;
  }
  #profile-submenu{
    width: 250px!important;
    position: absolute!important;
    right: 0!important;
    top: 55px!important;
  }
  #down_apt_nav #atp_menu_mobile{
    right: 80px!important;
    top:60%!important;
    height: 30px;
  }
  /* fix geoffrey */
  #menu-modules {
   order: 1;
  }
  #menu-categories {
   order: 2;
  }
  #menu_cat_apt {
   min-height: 175px;
   max-height: 175px;
  }
  #menu_module_apt {
   min-height: 105px;
   max-height: 105px;
  }
}

#user-icone img{
  height: 24px!important;
  margin-left: 0px!important;
}

#dashboard_tma section .atp_course_listing .atp_course_link a{
  line-height: 45px !important;
  font-size: 16px!important;
}


</style>
<!-- import custom css script -->
<%
nav = static.get_value('css_overrides_nav')
%>
% if not nav or nav == '':
  <link rel="stylesheet" type="text/css" href="${static.url('css/navlo.css')}">
% else:
  <link rel="stylesheet" type="text/css" href="${static.url(nav)}" />
% endif


<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<!-- import custom js script -->
<!--
<script src="/media/studio/navigation_atp.js"></script>
-->
<script src="${static.url('js/navigation_atp.js')}"></script>
<section id="tma_nav">
<!--
<section id="up_apt_nav">
% if user.is_authenticated():
<a href="/u/${request.user.username}">${_("My account")}</a>
% else:
<a href="">${_("My account")}</a>
% endif
</section>
-->
<section id="down_apt_nav">
<%
logo_url = static.get_value('logo')
%>
% if not logo_url:
<img id="logo_atp_redirect" src="${static.url('images/logo.png')}" />
% else:
<img id="logo_atp_redirect" src="${logo_url}" />
% endif
<%
amundi_brand=configuration_helpers.get_value('amundi_brand')
%>
%if amundi_brand=="true" or amundi_brand is None:
<div id="amundi-brand-container">
    <span class="trait-separation"></span>
    <img src="/media/logo-amundiacademy_blanc.png" alt="amundi_academy" class="logo-amundi-academy">
</div>
%endif
% if "/dashboard" in request.path:
<img id="atp_menu_mobile" src="${static.url('images/menu_mobile.png')}" class="sub_picto" id="sub_mobile_img"/>
%endif



<div id="right-menu">
  % if "/dashboard" in request.path:
  <div id="menu-categories" class="menu-item-atp" data-location="menu_cat_apt">${_("My Categories")} <span class="arrow_button"></span>
    <div id="menu_cat_apt">
     <button id="cat_fond" data-location="fundamental">${_("Fundamentals")}</button>
     <button id="cat_solu" data-location="oursolutions">${_("Our solutions")}</button>
     <button id="cat_dem_com" data-location="salesapproach">${_("Business approach")}</button>
     <button id="cat_reg" data-location="regulatory">${_("Regulatory")}</button>
     <button id="cat_all" data-location="all">${_("All")}</button>
    </div>
  </div>
  <div id="menu-modules" class="menu-item-atp" data-location="menu_module_apt">${_("My modules")} <span class="arrow_button"></span>
    <div id="menu_module_apt">
     <button data-location="ancre-in-progress">${_("In progress")}</button>
     <button data-location="ancre-to-do">${_("To do")}</button>
     <button data-location="ancre-finished">${_("Completed")}</button>
     <!--
     <button id="cat_all" data-location="all">${_("All")}</button>
     -->
    </div>
  </div>
  <span style="display:block;clear:both;" id="nav_replace_after"></span>
  % endif

</div>

% if user.is_authenticated():
<div id="profile_menu" class="menu-item-atp">
  <!--<img class="vignette" src="${static.url('images/man-user.png')}" class="svg"/>-->
  <div id="user-icone">
    <img src="/media/user.png" alt="">
  </div>
  <div id="profile-submenu">
    <div class="user-account-atp">
      <a class="class-submenu profile-name-atp" href="/u/${request.user.username}">
        <p class="name-atp-user">${request.user.first_name} ${request.user.last_name}</p>
        <p class="email-atp-user">${user.email}</p>
      </a>
    </div>
      % if not "/dashboard" in request.path:
      <div class="access-back-atp">
        <a href="/dashboard" class="class-submenu" >
          <span>${_("Home")}</span>
        </a>
      </div>
      % endif
      % if _ensure_status:
      <div class="access-back-atp">
        <a class="class-submenu" href="https://${settings.CMS_BASE}">${_("Access admin interface")}</a>
      </div>
      % endif
    <div class="boutton-deconnexion">
      <a class="" id="logout-btn" href="/logout">
        <img style="height:20px;"src="/media/poweroff.png" alt="">
        <span style="margin-left:-25px;">${_('logout')}</span>
      </a>
    </div>

  </div>
</div>
% else:
  <a id="log_user_action" href="/login"><img src="${static.url('images/shut-down-icon.svg')}" class="svg"/><span><div id="log_user_action_array"></div>${_('login')}</span></a>
% endif



<span style="display:block;clear:both;"></span>
</section>
</section>
<script type="text/javascript">
  $('#profile_button').click(function(){
    $('#menu_cat_apt').addClass('hide');
    $('#menu_module_apt').addClass('hide');
    $("#profile-submenu").toggleClass('hide');
  })
  $('#nav_replace_before').click(function(){
    $('#profile-submenu').addClass('hide');
    $('#my_course_covers').addClass('hide');
    $("#menu_cat_apt").toggleClass('hide');
  })
  $('#my_course_covers').click(function(){
    $('#nav_replace_before').addClass('hide');
    $('#profile-submenu').addClass('hide');
    $("#menu_module_apt").toggleClass('hide');
  })

</script>

<script>

/* Gestion du responsive sur la nav */
  $('#atp_menu_mobile').click(function(){
    if($("#right-menu").hasClass('is_flex')){
      $("#menu_module_apt, #menu_cat_apt").removeClass('block');
    }
    $("#right-menu").toggleClass('is_flex');
    $('#profile-submenu').removeClass('block');
  })

  $('#profile_menu').click(function(){
    if($(window).width() < 1022){
      $("#profile-submenu").toggleClass('block');
      $("#right-menu").removeClass('block');
      $("#menu_module_apt, #menu_cat_apt").removeClass('block');
    }
  })
  $('#menu-modules').click(function(){
   if($(window).width() < 1022){
      $("#menu_module_apt").toggleClass('block');
    }
  })
  $('#menu-categories').click(function(){
   if($(window).width() < 1022){
      $("#menu_cat_apt").toggleClass('block');
    }
  })

  $("html").click(function(event) {
    if ($(event.target).closest('#right-menu, #atp_menu_mobile, #down_apt_nav').length === 0) {
      $("#profile-submenu, #menu_module_apt, #menu_cat_apt").removeClass('block');
      $("#right-menu").removeClass('block');
    }
  });




</script>
</%block>
<%include file="help_modal.html"/>
