<div id="problem_${element_id}" class="problems-wrapper position_atp ${'answered' if attempts_used == 1 else ''}" role="group"
     aria-labelledby="${element_id}-problem-title"
     data-problem-id="${id}" data-url="${ajax_url}"
     data-problem-score="${current_score}"
     data-problem-total-possible="${total_possible}"
     data-attempts-used="${attempts_used}"
     data-content="${content | h}"
     data-graded="${graded}">
</div>
<script>
var answered = false;
console.log('problem_${element_id}');
$('.position_atp').addClass('is_overflow');

$('.position_atp').each(function(){
  if(!$(this).hasClass('answered') && !answered){
    $(this).removeClass('is_overflow');
    answered = true;
  }
})

</script>
